@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 64% 30%;
    --foreground: 0 0% 98%;
    --card: 233 60% 35%;
    --card-foreground: 0 0% 98%;
    --popover: 233 64% 25%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 50% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 50% 40%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 261 100% 80%;
    --accent-foreground: 233 64% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 50% 45%;
    --input: 233 50% 40%;
    --ring: 261 100% 80%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 233 64% 30%;
    --foreground: 0 0% 98%;
    --card: 233 60% 35%;
    --card-foreground: 0 0% 98%;
    --popover: 233 64% 25%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 50% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 50% 40%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 261 100% 80%;
    --accent-foreground: 233 64% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 50% 45%;
    --input: 233 50% 40%;
    --ring: 261 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top, hsl(233, 64%, 35%), hsl(var(--background)));
  }
}
