@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222 84% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 285 90% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 84% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 84% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 90% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 10%;
    --input: 222 84% 10%;
    --ring: 285 90% 59%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 222 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222 84% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 285 90% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 84% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 84% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 90% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 10%;
    --input: 222 84% 10%;
    --ring: 285 90% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
